V/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  color: black;
  line-height: 1.6;
}

/* Header */
header {
  background: #f4f4f1;
  color: black;
  padding: 2rem 1rem;
  text-align: center;
}

header p {
  max-width: 700px;
  margin: 0 auto;
}


a {
  color: #007BFF;
  text-decoration: none;
}

.button {
  display: inline-block;
  padding: 10px 20px;
   background-color: #0056b3;
  color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}

main {
  max-width: 1100px;
  margin: 2rem auto;
  padding: 0 1rem;
  padding-bottom: 4rem;
}

/* GRID LAYOUT */
section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

/* First article spans full width */
section article:first-child {
  grid-column: 1 / -1;
}

article img {
  width: 100%;
  max-width: 200px; 
  height: auto;
  display: block;
  margin: 0 auto;
}

article {
  background-color: #f4f6f8;
  padding: 1.5rem;
}


/* Images */
article img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
}

/* Headings */
article h2 {
  margin-bottom: 0.75rem;
}

/* Links */
article a {
  display: inline-block;
  margin-top: 1rem;
  color: #0066cc;
  text-decoration: none;
  font-weight: bold;
}

article a:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  background: transparent;
  color: black;
  left: 45%;
  padding: 1rem;
  position: fixed;
  bottom: 0;
}

/* MOBILE: stack everything */
@media (max-width: 700px) {
  section {
    grid-template-columns: 1fr;
  }
}